version: "3.8"

services:
  apps:
    container_name: shumiq-apps-react
    image: docker-registry.shumiq.synology.me/shumiq_apps_react:latest
    restart: unless-stopped
    ports:
      - ${APPS_PORT}:3000
    environment:
      FIREBASE_ADMIN_UID: ${FIREBASE_ADMIN_UID}
      GOOGLE_APPLICATION_PRIVATE_KEY: ${GOOGLE_APPLICATION_PRIVATE_KEY}
      SYNOLOGY_API_GUEST_USERNAME: ${SYNOLOGY_API_GUEST_USERNAME}
      SYNOLOGY_API_GUEST_PASSWORD: ${SYNOLOGY_API_GUEST_PASSWORD}
      SYNOLOGY_API_ADMIN_USERNAME: ${SYNOLOGY_API_ADMIN_USERNAME}
      SYNOLOGY_API_ADMIN_PASSWORD: ${SYNOLOGY_API_ADMIN_PASSWORD}
      PGHOST: ${PGHOST}
      PGUSER: ${PGUSER}
      PGDATABASE: ${PGDATABASE}
      PGPASSWORD: ${PGPASSWORD}
      PGPORT: ${PGPORT}
      PHOTO_PATH: ${DOCKER_PHOTO_PATH}
      VIDEO_PATH: ${DOCKER_VIDEO_PATH}
      TZ: ${TIME_ZONE}
      PM2_PUBLIC_KEY: ${PM2_PUBLIC_KEY}
      PM2_SECRET_KEY: ${PM2_SECRET_KEY}
    volumes:
      - ${VIDEO_PATH}:${DOCKER_VIDEO_PATH}
      - ${PHOTO_PATH}:${DOCKER_PHOTO_PATH}