name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_PRIVATE_KEY }} 
        known_hosts: 'just-a-placeholder-so-we-dont-get-errors'
    - name: Adding Known Hosts
      run: ssh-keyscan -H -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
    - name: Pull lasted compose
      run: ssh root@${{ secrets.SSH_HOST }} -p ${{ secrets.SSH_PORT }} "cd /volume1/docker/shumiq_compose/ && /usr/local/bin/git pull origin master"
    - name: Re-Deploy
      run: ssh root@${{ secrets.SSH_HOST }} -p ${{ secrets.SSH_PORT }} "cd /volume1/docker/shumiq_compose/ && /usr/local/bin/docker-compose pull && /usr/local/bin/docker-compose up --force-recreate -d && /usr/local/bin/docker image prune -a -f"
